.breadcrumbs {
  display: flex;
  justify-content: center;
}

.breadcrumbs__item {
  padding-right: 25px;
  position: relative;

  &:last-of-type {
    padding-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: #dcdcdc;
    top: 50%;
    transform: translateX(-50%);
    right: 2px;
  }
}

.breadcrumbs__item:last-of-type::after {
  display: none;
}

.breadcrumbs__link {
  @include font-Roboto(14px, 14px, 400);
  color: #dcdcdc;
}
