.company-benefits {
  padding-top: 69px;
  padding-bottom: 61px;
  background-color: #f9f9f9;
}

.company-benefits__img {
  margin-bottom: 60px;
  img {
    margin: 0 auto;
  }
}

.company-benefits__title {
  @include font-Montserrat(24px, 24px, 700);
  text-transform: uppercase;
  color: #262626;
  margin-bottom: 28px;
}

.company-benefits__item {
  @include font-Roboto(18px, 24px, 700);
  color: #585858;
  margin-bottom: 24px;
  padding-left: 32px;
  position: relative;
  &:last-of-type {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 2px solid #ffd13e;
    left: 0;
    top: 5px;
  }
}

@media (min-width: $tablet-width) {
  .company-benefits {
    padding-top: 57px;
    padding-bottom: 42px;
    background: url("../img/company-benefits-bg-tab.png") center (center/cover) no-repeat #f9f9f9;
    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/company-benefits-bg-tab@2x.png");
    }
  }
  .company-benefits__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .company-benefits__img {
    margin-bottom: 0;
    margin-right: 57px;
  }

  .company-benefits__container {
    width: 380px;
  }
}


@media (min-width: $desktop-width) {
  .company-benefits {
    padding-top: 96px;
    padding-bottom: 90px;
    background: url("../img/company-benefits-bg-desk.png") center (center/cover) no-repeat #f9f9f9;
    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/company-benefits-bg-desk@2x.png") center (center/cover) no-repeat #f9f9f9;
    }
  }

  .company-benefits__img {
    margin-right: 122px;
    margin-left: 10px;
    img {
      width: 320px;
      height: 299px;
    }
  }

  .company-benefits__title {
    margin-bottom: 38px;
  }

  .company-benefits__item {
    font-size: 20px;
  }
  .company-benefits__container {
    width: 517px;
  }
}
