.credit-features {
  margin-bottom: 37px;
}

.credit-features__title {
  @include font-Montserrat(38px, 46px, 800);
  text-transform: uppercase;
  color: #262626;
  margin-bottom: 19px;

  span {
    font-weight: 400;
  }
}

.main-features {
  li {
    @include font-Roboto(16px, 30px, 500);
    color: #404041;
    padding-left: 34px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 12px;
      height: 8px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      left: 0;
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) {
  .credit-features__title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 33px;
  }

  .credit-features {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .credit-features {
    margin-left: 42px;
    width: 398px;
    margin-top: 24px;
  }

  .credit-features__title {
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 69px;
  }
}
