.credit-nav__list {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.credit-nav__item {
  margin-left: 19px;

  &:first-of-type {
    margin-left: 0;
  }
}

.credit-nav_link {
  @include font-Roboto(14px, 19px, 400);
  color: #000000;
}

@media (min-width: $tablet-width) {
  .credit-nav__list {
    justify-content: flex-end;
  }
}

@media (min-width: $desktop-width) {
  .credit-nav__item {
    margin-left: 27px;
  }
}
