.credit-nav__list {
  display: flex;
  width: 100%;
}

.credit-nav__item {
  margin-right: 17px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.credit-nav_link {
  @include font-Roboto(14px, 19px, 400);
  color: #000000;

}

