.credit-calculate {
  border-radius: 21px;
  box-shadow: 0 3px 20px rgba(180, 96, 0, 0.73);
  width: 372px;

  &--getting-info {
    box-shadow: none;
    border: 1px solid #ffc200;
  }
}

.credit-calculate__slider {
  background-color: #404041;
  padding: 30px 30px 31px 30px;
  padding-top: 32px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;

  &--getting-info {
    background-color: #ffffff;
  }

  &--get-loan {
    padding: 31px 0 31px 0;
    border-top: 1px solid #dcdcdc;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
  }
}
.credit-calculate__slider-white {
  .credit-calculate__slider {
    background-color: #ffffff;
  }
  .credit-calculate__content {
    color: #404041;
    background-color: #ffffff;
    border-color: #dcdcdc;
    margin-bottom: 13px;

    #calc_amount, .calc-amount {
      color: #404041;
    }
  }
  .credit-calculate__title {
    color: #404041;
    margin-bottom: 10px;
  }
  .credit-calculate__amount {
    color: #404041;
  }
  .credit-calculate__select {
    color: #404041 !important;
  }
}

.credit-calculate__title {
  @include font-Montserrat(16px, 16px, 700);
  color: #f9f9f9;
  margin-bottom: 9px;

  &--getting-info {
    color: #404041;
    margin-bottom: 10px;
  }

  &--get-loan {
    text-align: center;
  }
}

.credit-calculate__content {
  background-color: #2e2e2e;
  border: 1px solid #585858;
  //text-align: center;
  padding: 18px 0 0 0;
  margin-bottom: 17px;
  @include font-Roboto(20px, 20px, 400);
  color: #f9f9f9;
  margin-bottom: 18px;

  #calc_amount, .calc-amount {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #f9f9f9;
    margin-bottom: 18px;
    border: none;
    outline: none;
    background: transparent;
    text-align: right;
    width: 50%;
  }

  &--getting-info {
    background-color: #ffffff;
    border-color: #dcdcdc;
    margin-bottom: 13px;
  }

  &--period {
    padding: 0;
    position: relative;
  }

  &--choice {
    border-radius: 5px;
  }
}

.credit-calculate__ranges {
  display: flex;
  justify-content: space-between;

  @include font-Roboto(12px, 12px, 400);
  color: #a8a8a8;

  &--sum {
    margin-bottom: 25px;
  }

  &--getting-info {
    margin-bottom: 17px;
  }
}

.credit-calculate__submit {
  background-color: #f9f9f9;
  padding: 23px 22px 42px 22px;
  text-align: center;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;

  &--getting-info {
    padding-bottom: 41px;
    padding-top: 24px;
  }
}

.credit-calculate__btn {
  width: 273px;
  text-transform: uppercase;
}

.credit-calculate__payment {
  @include font-Roboto(13px, 28px, 400);
  color: #a8a8a8;

  span {
    color: #585858;
    font-weight: 700;
  }
}

.credit-calculate__return {
  @include font-Roboto(17px, 28px, 400);
  color: #585858;
  margin-bottom: 31px;

  span {
    font-weight: 700;
    color: #404041;
  }
}

.credit-calculate__content .credit-calculate__range.ui-widget-content,
.credit-calculate__content .ui-corner-all.ui-slider-horizontal {
  width: 100%;
  height: 3px;
  background: #a8a8a8;
  border-radius: 0;
  border: none;
  margin-bottom: -1px;
}

.credit-calculate__content .ui-slider-range.ui-corner-all {
  background: #ffc200;
  border: none;
}

.credit-calculate__content .ui-slider-handle.ui-corner-all {
  cursor: pointer;
  border-radius: 50%;
  background: #ffc200;
  border: 3px solid #ffffff;
  width: 23px;
  height: 23px;
  outline: none;
  top: 50%;
  transform: translateY(-50%);
}

.credit-calculate__amount,
.credit-calculate__period {
  @include font-Roboto(20px, 20px, 400);
  color: #f9f9f9;
  margin-bottom: 18px;

  &--getting-info {
    color: #404041;
  }
}

.credit-calculate__content--index span.credit-calculate__select.ui-button {
  color: #f9f9f9;
  border-color: #585858;
  &:hover,
  &:active,
  &:focus {
    border-color: #585858;
  }
}

span.credit-calculate__select.ui-button {
  @include font-Roboto(20px, 20px, 400);
  background: none;
  border: none;
  text-align: center;
  color: #404041;
  width: 100%;
  border-color: #dcdcdc;
  border-radius: 0;
  padding: 19px 0 19px 0;
  position: relative;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-left: 2px solid #ffc200;
    border-bottom: 2px solid #ffc200;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }

  &:hover,
  &:active,
  &:focus {
    border-color: #dcdcdc;
    outline: none;
  }
}

.ui-button .my-test-class.ui-icon {
  display: none;
}

.credit-calculate__select .ui-selectmenu-text {
  margin-right: 0;
}

.term__wrapper.ui-selectmenu-menu {
  //обертка для списка сроков кредита wrapper ul
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.term__wrapper.ui-selectmenu-menu .ui-menu {
  padding: 0;
}

.term__wrapper.ui-selectmenu-menu .ui-menu-item {
  //ячейка со сроком кредита item div
  div {
    @include font-Roboto(20px, 20px, 400);
    border: none;
    border-bottom: 1px solid #e9e9e9;
    padding: 19px 20px 18px 20px;
    text-align: center;
    margin: 0;

    &:hover,
    &:focus {
      outline: none;
      background: #ffd13e;
      border-color: #ffd13e;
    }
  }
  &:last-of-type div {
    border-bottom: none;
  }
}

.choice__wrapper.ui-selectmenu-menu .ui-menu-item {
  //ячейка со сроком кредита item div
  div {
    text-align: left;
  }
}

.credit-calculate__separator {
  position: absolute;
  height: 3px;
  width: 100%;

  div {
    width: 1px;
    height: 3px;
    background: #ffc200;
    position: absolute;
    bottom: -1px;

    &:nth-of-type(1) {
      left: 0;
    }

    &:nth-of-type(2) {
      left: 33.3%;
    }

    &:nth-of-type(3) {
      left: 66.6%;
    }

    &:nth-of-type(4) {
      left: 100%;
    }
  }
}

.credit-calculate__choice.ui-selectmenu-button.ui-selectmenu-button-closed.credit-calculate__select {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #a8a8a8;
  text-align: left;
  padding-left: 20px;
  height: 60px;
}

span.credit-calculate__select.ui-button.credit-calculate__choice {
  text-align: left;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .credit-calculate {
    width: 304px;
    margin-left: auto;
  }

  .credit-calculate__payment {
    &--getting-info {
      font-size: 14px;
      line-height: 30px;
    }
  }

  .credit-calculate__return {
    &--getting-info {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 31px;
    }
  }

  .credit-calculate__btn {
    width: 261px;
  }

  .credit-calculate__btn.credit-calculate__btn--getting-info {
    width: 205px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .credit-calculate__submit {
    &--getting-info {
      padding-bottom: 41px;
      padding-top: 20px;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .credit-calculate {
    width: 388px;
  }

  .credit-calculate__payment {
    font-size: 14px;
    line-height: 30px;

    &--getting-info {
      font-size: 14px;
      line-height: 30px;
    }
  }

  .credit-calculate__return {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 27px;
  }

  .credit-calculate__btn {
    width: 289px;
  }

  .credit-calculate__btn.credit-calculate__btn--getting-info {
    width: 289px;
  }

  .credit-calculate__submit {
    &--getting-info {
      padding-top: 24px;
    }
  }
}
