.credit-products {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .credit-products {
    padding-top: 30px;
    padding-bottom: 53px;
  }

  .credit-products__list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .credit-products {
    padding-top: 130px;
    padding-bottom: 80px;
  }

  .credit-products__list {
    justify-content: center;
  }
}
