.credit-conditions {
  padding-top: 20px;
  padding-bottom: 17px;
  border-top: 1px solid #ececec;
  @include font-Roboto(14px, 20px, 400);
  color: #585858;

  strong {
    @include font-Roboto(14px, 20px, 700);
  }
}
