.feedback-form {

}

.feedback-form__text {
  @include font-Montserrat(18px, 27px, 700);
  color: #262626;
  margin-bottom: 18px;
  width: 346px;
}

.feedback-form__input {
  @include font-Roboto(16px, 16px, 400);
height: 60px;
width: 100%;
border: 1px solid #DCDCDC;
border-radius: 5px;
margin-bottom: 20px;
padding: 21px 19px 20px 19px;

&:last-of-type {
  margin-bottom: 0;
}

&::placeholder {
  @include font-Roboto(16px, 16px, 400);
  color: #A8A8A8;
}
}

.feedback-form__btn  {
  width: 259px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    width: 388px;
  }
}
