.get-loan {
  padding-top: 30px;
  padding-bottom: 75px;
  background-color: #f9f9f9;
}

.get-loan__form {
  background-color: #ffffff;
  border-radius: 15px;
  padding-top: 30px;
  padding-bottom: 58px;
}

.get-loan__wrapper {
  width: 373px;
  margin: 0 auto;
}

.get-loan__title {
  @include font-Montserrat(24px, 24px, 700);
  text-transform: uppercase;
  text-align: center;
  color: #262626;
  margin-bottom: 19px;
}

.get-loan__descr {
  @include font-Roboto(14px, 20px, 400);
  color: #777777;
  text-align: center;
  margin-bottom: 23px;
}

.get-loan__subtitle {
  @include font-Montserrat(16px, 16px, 700);
  color: #404041;
  text-align: center;
  margin-bottom: 10px;
}

.get-loan__input {
  @include font-Roboto(16px, 16px, 400);
  width: 100%;
  height: 60px;
  /* margin-bottom: 20px; */
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  outline: none;
  color: #404041;
  transition: 0.4s ease;

  &:focus,
  &:active {
    border-color: #ffc200;
  }
}

.get-loan__field {
  position: relative;
  margin-bottom: 20px;

  &--employment {
    margin-bottom: 31px;
  }

  &--loan-purpose {
    margin-bottom: 31px;
  }
}

.get-loan__label {
  @include font-Roboto(16px, 16px, 400);
  color: #a8a8a8;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  transition: 0.4s ease;
}

.get-loan__input:focus,
.get-loan__input:valid  {
  padding: 25px 20px 14px 20px;
 }

.get-loan__input:focus ~ .get-loan__label,
.get-loan__input:valid ~ .get-loan__label {
  font-size: 11px;
  transform: translateY(-25px);
}

.get-loan__checklabel {
  @include font-Roboto(14px, 18px, 400);
  color: #585858;
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 40px;

  a {
    text-decoration: underline;
    color: #0997e1;
  }

  &--confirm {
    margin-bottom: 22px;
  }

  &--agreement {
    margin-bottom: 40px;
  }
}

.get-loan__checkinput:not(:checked) + .get-loan__checklabel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #707070;
  top: 0;
  left: 0;
}

.get-loan__checkinput:checked + .get-loan__checklabel::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #ffc200;
  border: 1px solid #ffc200;
  top: 0;
  left: 0;
}

.get-loan__checkinput:checked + .get-loan__checklabel::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 6px;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  transform: rotate(-45deg);
  top: 4px;
  left: 5px;
}

.get-loan__checkinput + .get-loan__checklabel::before,
.get-loan__checkinput + .get-loan__checklabel::after {
  transition: 0.3s ease;
}

.get-loan__checkinput + .get-loan__checklabel {
  transition: 0.3s ease;
}

.get-loan__btn {
  display: block;
  width: 259px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .get-loan__wrapper {
    width: 390px;
  }

  .get-loan__form {
    padding-top: 52px;
    padding-bottom: 62px;
  }

  .get-loan__checklabel {
    &--agreement {
      margin-bottom: 58px;
    }
  }
}

.errors-wrapper {
  ul {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 23px;
    margin-top: -15px;
    margin-left: 20px;
  }
}
