.lang-menu {
  display: none;
}

.lang-menu--active {
  display: block;
}

.lang-menu__item {
  @include font-Roboto(12px, 21px, 500);
  display: block;
  cursor: pointer;
  color: #404041;
  border-bottom: 1px solid #707070;

  &:last-of-type {
    border-bottom: none;
  }

  &--active {
    color: #a8a8a8;
  }
}

@media (min-width: $desktop-width) {
  .lang-menu {
    display: block;
  }
}
