.lang-menu {
  display: none;
  transition: 0.4 ease;
}

.lang-menu--active {
  display: block;
}

.lang-menu__item {
  @include font-Roboto(12px, 21px, 500);
  color: #404041;
  border-bottom: 1px solid #707070;

  &:last-of-type {
    border-bottom: none;
  }

  &--active {
    color: #A8A8A8;
  }
}
