.page-header__wrapper {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.page-header__container {
  display: flex;
  padding: 9px 20px 8px 20px;
  align-items: center;

  &--account {
    padding: 19px 11px 18px 11px;
  }
}

.page-header__logo {
  margin-right: 56px;

  &--account {
    margin: 0 auto;
  }
}

.page-header__img {
  width: 208px;
  height: 43px;
}

.page-header__lang-menu {
  margin-right: auto;
}




// @media (min-width: $tablet-width) {

// }

// @media (min-width: $desktop-width) {

// }
