.page-header__wrapper {
  position: relative;
  width: auto;
  margin: 0 auto;
}

@media (max-width: $tablet-width-only) {
  .page-header__wrapper--bordered {
    box-shadow: inset 0 -2px 2px -2px #b9afaf;
    /*  border-bottom: 1px solid #dcdcdc; */
  }
}

.page-header__container {
  display: flex;
  padding: 9px 20px 8px 20px;
  align-items: center;

  &--account,
  &--get-loan {
    padding: 19px 11px 18px 11px;
    text-align: center;
  }
}

.page-header__logo {
  margin-right: 56px;

  &--account,
  &--get-loan {
    display: inline-block;
  }
}

.page-header__img {
  width: 208px;
  height: 43px;
}

.page-header__lang-menu {
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    padding-left: 42px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    position: absolute;
    background-color: #ffffff;
    top: 14px;
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    max-width: 1920px;
  }

  .page-header__wrapper {
    margin: 0 auto;
    width: 100%;
    padding-top: 13px;
    padding-bottom: 8px;
    display: flex;
    min-width: 1160px;
    max-width: 1800px;
    align-items: center;
    justify-content: space-between;
  }

  .page-header__container {
    padding: 0;
    min-width: 257px;
    max-width: 300px;
    width: 20%;
  }

  .page-header__logo {
    margin-right: auto;
  }

  .page-header__lang-menu {
    margin-right: 0;
  }
}
