.payment-method {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 20px;
  min-height: 120px;
  margin-bottom: 10px;
  padding-left: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }

  a.payment-method-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
}

.payment-method__text {
  @include font-Roboto(14px, 18px, 400);
  color: #404041;
  width: 90%;
  margin-bottom: 8px;

  a {
    @include font-Roboto(14px, 18px, 400);
    color: #0997e1;
    text-decoration: underline;
  }
}

.payment-method__img {
  min-width: 64px;
  margin-right: 29px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-method__toggle {
  width: 100px;
  cursor: pointer;

  &--active {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span {
    @include font-Roboto(14px, 18px, 400);
    color: #0997e1;
  }
}

.payment-method__arrow {
  display: none;
}

.payment-method__toggle--active .payment-method__arrow {
  display: block;
}

@media (min-width: $tablet-width) {
  .payment-method {
    flex-direction: column;
    min-height: 251px;
    width: 208px;
    margin-right: 15px;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;

    &:nth-last-of-type(1),
    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    .payment-method-link {
      padding-top: 40px;
      padding-bottom: 18px;
    }
  }

  .payment-method__img {
    margin-right: 0;
    margin-bottom: 26px;
  }

  .payment-method__info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .payment-method__toggle {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .payment-method {
    margin-right: 20px;
    margin-bottom: 0;

    //&:nth-of-type(2n) {
    //  margin-right: 40px;
    //}

    &:last-child {
      margin-right: 0;
    }
  }
}

.blue-link {
  @include font-Roboto(14px, 18px, 400);
  color: #0997e1;
}
