.user-list {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  padding: 20px;
  padding-bottom: 18px;
  margin: 0 auto;
  text-align: center;
}

.user-list__link {
  width: 166px;
  margin: 0 auto;
}
