@mixin link-image($hover, $active) {
  img {
    cursor: pointer;

    &:hover {
      opacity: $hover;
    }

    &:focus {
      opacity: $hover;
    }

    &:active {
      opacity: $active;
    }
  }
}

@mixin font-Roboto($fsize, $lheight, $fweight: 400) {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: $fweight;
}

@mixin font-Montserrat($fsize, $lheight, $fweight: 600) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: $fweight;
}

@mixin white-btn {
  display: block;
  @include font-Roboto(16px, 16px, 500);
  color: #262626;
  padding: 16px;
  border: 1px solid #ffc200;
  border-radius: 38px;
  text-align: center;
  transition: 0.4s ease;

  &:hover,
  &:focus {
    background-color: #ffc200;
  }

  &:active {
    background-color: #585858;
    border-color: #585858;
    color: #ffffff;
  }
}

@mixin yellow-btn {
  @include font-Montserrat(16px, 16px, 700);
  background-color: #ffc200;
  color: #000000;
  padding: 19px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 28px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s ease;

  &:hover,
  &:focus {
    background-color: #FFD13E;
  }

  &:active {
    background-color: #585858;
    color: #ffffff;
  }
}

@mixin footer-text {
  @include font-Roboto(14px, 30px, 400);
}

@mixin footer-title {
  @include font-Montserrat(12px, 12px, 700);
  color: #404041;
  text-transform: uppercase;
}
