@mixin link-image($hover, $active) {
  img {
    cursor: pointer;

    &:hover {
      opacity: $hover;
    }

    &:focus {
      opacity: $hover;
    }

    &:active {
      opacity: $active;
    }
  }
}

@mixin font-Roboto($fsize, $lheight, $fweight: 400) {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: $fweight;
}

@mixin font-Montserrat($fsize, $lheight, $fweight: 600) {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: $fsize;
  line-height: $lheight;
  font-weight: $fweight;
}


@mixin footer-text {
  @include font-Roboto(14px, 30px, 400);
}

@mixin footer-title {
  @include font-Montserrat(12px, 12px, 700);
  color: #404041;
  text-transform: uppercase;
}
